@model IEnumerable<ProtocolSim.OnlySim>

@{
    ViewBag.Title = "מידע סימים";
    Layout = "~/Areas/Clinet/Views/Shared/ClinetLayout.cshtml";
}

<h2 style="color:blue">נתוני סימים בלבד</h2>
<br />
<form class="form-inline" action="~/SimClinet/SearchOnlySim" onsubmit="return validateForm()" method="get">
    <label for="Filter" style="font-size:large">הקלד בבקשה מספר פלאפון או מספר Imei של הסים</label>
    <br />
    <input type="text" required class="form-control" placeholder="חיפוש" name="Filter" />
    <input onclick="validateForm()" type="submit" value="חפש" class="btn btn-primary" />
</form>
<table class="table" style="margin-top:30px">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Company_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PunNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImeiSim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Packageplan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Company_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImeiSim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Packageplan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.ActionLink("פרטים", "Details", new { id = item.SId }) |
                @Html.ActionLink("ראה פרטי מכשיר", "Details", "DeviceClinet", new { id = item.SId }, null)
            </td>
        </tr>
    }

</table>
