@model ProtocolSim.Sim

@{
    ViewBag.Title = "פרטים";
}

<h2 style="color:blue">פרטי נתון במאגר</h2>

<div>
    <hr />
    <dl class="table text-right">

        <dt>
            @Html.DisplayNameFor(model => model.Company_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PunNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PunNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImeiSim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeiSim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Packageplan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Packageplan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unitname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unitname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImeiDevice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeiDevice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div style="margin-right:200px">
    @Html.ActionLink("ערוך", "Edit", new { id = Model.SId }) |
    @Html.ActionLink("חזרה לרשימת כל הנתונים", "Index")
</div>
